body{
  background-color: rgb(255, 255, 246)
}

.main-bg{
  background-image: url('./img/cloudemotion.png');
  width: 100%; 
  height: 100vh;
  background-position: center;
}

.App {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}

.me-auto{
  margin-left: 50px;
}

.nav-left{
  display: flex;
  margin-top: 40px;
}
.nav-right{
  display: flex;
  margin-top: 40px;
}

#nav{
  padding: 0 100px;
  margin: auto 0;
  background-color: rgb(255, 255, 246) !important;
  font-weight: 500;
  font-size: 13px;
}
a{
  text-decoration: none;
}
.nav-insta{
  color: rgb(81, 81, 81);
  margin-right: 50px;
}
.nav-insta:hover{
  color: rgb(101, 101, 101);
}

.dropdown{
  position : relative;
  display : inline-block;
  margin-right: 200px;
}

.community-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
}

.community-content a{
  display : block;
  color: black;
  transition: all ease 2s 0s;
  color: rgb(255, 92, 168);
  font-weight: 400;
}

.dropdown:hover .community-content{
  display: block;
  transition: all ease 2s 0s;
}
.dropdown:hover{
  color: rgb(101, 101, 101);
  transition: 0.1s ease-in-out;
}

.logo{
  margin-right: 100px;
  padding: 50px;
  align-items: center;
}

.login{
  margin-right: 50px;
  margin-left: 100px;
}

.cart{
  margin-right: 50px;
}

.search{
  margin-right: 10px;
  font-size: 20px;
  padding: 3px;
}


.main2{
  margin-top: 18.75rem;
  background-color: rgb(255, 233, 236);
}

.main2-img{
  width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

.main2-text h2{
  color: #545454;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 30px 0 10px;
}

.sub{
  color: #a8a8a8;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

